/nbproject
/.vscode
/lib
/system
.project
dev_rfc.trc
index.php
license.txt
assets
/application/cache
/application/core
/application/errors
/application/helpers
/application/hooks
/application/language
/application/libraries
/application/logs
/application/third_party
